<div class="about" id="about">

  <div class="about-details">
    {% if page.key == "is-home" %}
    <h1 class="about-name">{{ site.name }}</h1>
    {% else %}
    <h2 class="about-name">{{ site.name }}</h2>
    {% endif %}

    <p class="about-description">La vie moderne est complexe. Évoluer dans cette modernité nécessite le dépassement, non&nbsp;? Et en cheminant vers une foi plus mature, j'ai rencontré plusieurs idées modernes. Je partagerai sur ces sujets, sur le design, sur le leadership, et sur la science.</p>
    <p class="about-signature">
      <span class="about-signature-name"><span rel="author">{{ site.author }}</span>, Ottawa, Canada</span>
      <a class="subscribe-follow-link btn btn-default" href="{{ site.baseurl}}/sinscrire-suivre/">
        <i class="fa fa-star-o"></i>
        S'inscrire ou me suivre
      </a>
    </p>

    <div class="about-links">
      {% if page.key == null or page.key != "is-home" or paginator.page != 1 %}
      <a class="about-links-home" href="{{ site.baseurl}}/" rel="home">
        <i class="fa fa-chevron-left"></i> Articles les plus récents
      </a>
      {% endif %}
    </div>
  </div>

</div>
